<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://192.168.0.251:11101/f3_9377/%E6%B8%A0%E9%81%93%E5%8C%85/yhzr.ipa</string> 
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>http://192.168.0.217/dnv.png</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>http://192.168.0.217/dnv.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>update-url</key>
                    <string>https://raw.githubusercontent.com/aelop/shareSDKTest/master/apple.plist</string>
                    <key>bundle-identifier</key>
                    <string>mobius.game003</string>
                    <key>bundle-version</key>
                    <string>1.0.0</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>银魂之刃</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
